.info{
  text-align: center;
  margin: 1% auto;
  width: 80%;
  padding: 20px;
  /* display: flex; */
  border-radius: 5px;
  box-shadow: 0 1px 6px -2px #000;
  background-color: #FFF;
  margin-bottom: 30px;
}

h1{
  text-align: center;
  margin: 4% auto;
}