body{
  background-color: white;
}
.info{
  text-align: center;
  margin: 1% auto;
  width: 80%;
  padding: 20px;
  /* display: flex; */
  border-radius: 5px;
  box-shadow: 0 1px 6px -2px #000;
  background-color: skyblue;
  margin-bottom: 30px;
}

h1{
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  /* display: flex; */
  border-radius: 5px;
  box-shadow: 0 1px 6px -2px #000;
  background-color: dodgerblue;
  margin-bottom: 30px;
}

.form{
  display:flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.centerThis{
  display:flex;
  margin: 1% auto;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 6px -2px white;
  width: 10%;
  background-color: firebrick;
  
}

.dark-mode{
  background-color: black;
  color:white;
}